@model ASP_NET_MVC_Ver1.Areas.Identity.Data.ApplicationUser
@{
    ViewData["Title"] = "UPDATE USER";
}

<form method="post">
    <div asp-validation-summary="All"></div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="Id"></label>
            <input type="text" class="form-control mb-3" asp-for="Id" disabled>
            <span asp-validation-for="Id" class=" alert-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Email">Email</label>
            <input type="text" class="form-control mb-3" asp-for="Email" disabled>
            <span asp-validation-for="Email" class=" alert-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="FirstName">Họ và tên đệm</label>
            <input type="text" class="form-control mb-3" asp-for="FirstName" placeholder="Nhập họ và tên đệm">
            <span asp-validation-for="FirstName" class=" alert-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="LastName">Tên</label>
            <input type="text" class="form-control mb-3" asp-for="LastName" placeholder="Nhập tên">
            <span asp-validation-for="LastName" class=" alert-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label for="password">Mật khẩu</label>
            <input type="text" class="form-control mb-3" name="password" placeholder="Nhập mật khẩu">
        </div>
        <div class="form-group col-md-6">
            <label asp-for="PhoneNumber">Số điện thoại</label>
            <input type="text" class="form-control mb-3" asp-for="PhoneNumber" placeholder="Nhập số điện thoại">
            <span asp-validation-for="PhoneNumber" class=" alert-danger"></span>
        </div>
    </div>

    <button type="submit" class="btn btn-lg btn-primary p-2"><i class="bi bi-file-plus-fill"></i>Cập nhật tài khoản</button>
    <a asp-controller="Admin" asp-action="Index" class="btn btn-lg btn-warning p-2">Trở lại</a>
</form>
@*<h1 class="bg-info text-white">Update User</h1>
<a asp-action="Index" class="btn btn-secondary">Back</a>
<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Update" method="post">
    <div class="form-group">
        <label asp-for="Id"></label>
        <input asp-for="Id" class="form-control" disabled />
    </div> <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" disabled/>
    </div>
    <div class="form-group">
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="LastName"></label>
        <input asp-for="LastName" class="form-control" />
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input name="password" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="PhoneNumber"></label>
        <input asp-for="PhoneNumber" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Cập nhật</button>
</form>*@