@model Reservation

<div class="container shadow p-5">
    <div class="row pb-2">
        <h2>Đặt lịch hẹn khám</h2>
    </div>

    <form method="post">
        <div asp-validation-summary="All"></div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="parent_id">Tên phụ huynh</label>
                <input type="text" class="form-control mb-3" asp-for="parent_id" placeholder=@ViewBag.user_id readonly="true" value=@ViewBag.user_id>
            </div>

            @*<div class="form-group col-md-6">*@
            <label asp-for="child_id">Chọn bé cần khám</label>
            @Html.DropDownListFor(x => x.child_id, new SelectList(ViewBag.customValue, "Text", "Value"), new { htmlAttributes = new { @class = "form-control" } })
            @*@Html.DropDownList("THELOAI", (IEnumerable<SelectListItem>) ViewBag.CategoryList, new { @class = "form-control" })*@
            @*@Html.DropDownList("THELOAI", (IEnumerable<SelectList>) ViewBag.child_info, new { @class = "form-control" })*@
            @*   <select name="test">
            @foreach (var item in ViewBag.Byme)
            {
            <option value=@item.Id>@item.LastName</option>
            }
            </select>*@

            @*</div>*@
            <div class="form-group col-md-6">
                <label asp-for="parent_id">Email bố mẹ</label>
                <input type="text" class="form-control mb-3" *asp-for="parent_id" placeholder=@ViewBag.user_name readonly="true">
            </div>
            <div class="form-group col-md-6">
                <label asp-for="r_title">Bệnh cần khám</label>
                <input type="text" class="form-control mb-3" asp-for="r_title" placeholder="Nhập bệnh cần khám">
                @*<span asp-validation-for="r_title" class=" alert-danger"></span>*@
            </div>
            <div class="form-group col-md-6">
                <label asp-for="r_content">Nội dung chẩn đoán</label>
                <input type="text" class="form-control mb-3" asp-for="r_content" placeholder="Nội dung chẩn đoán">
                <span asp-validation-for="r_content" class=" alert-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="doctor_id">Email bố mẹ</label>
                <input type="text" class="form-control mb-3" asp-for="doctor_id" placeholder=@ViewBag.doctor_id readonly="true" value=@ViewBag.doctor_id>
            </div>
        </div>

        <button type="submit" class="btn btn-lg btn-primary p-2"><i class="bi bi-file-plus-fill">Gửi yêu cầu</i></button>
        <a asp-controller="Reservation" asp-action="Index" class="btn btn-lg btn-warning p-2">Trở lại</a>

    </form>

</div>


@*//for front end validations*@

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
