@model Post
@{
    ViewData["Title"] = "Tạo một Blog";
}
<div class="container shadow p-5">
    <div class="row pb-2">
        <h2>Thêm tài khoản</h2>
    </div>
    <form method="post" enctype="multipart/form-data">
        <div asp-validation-summary="All"></div>
        <div class="row">
            <div class="col-md-6">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group col-md-6">
                    <label asp-for="Title">Tên Blog</label>
                    <input type="text" class="form-control mb-3" asp-for="Title" placeholder="Nhập title">
                    <span asp-validation-for="Title" class=" alert-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Description">Thông tin</label>
                    <input type="text" class="form-control mb-3" asp-for="Description" placeholder="Nhập thông tin">
                    <span asp-validation-for="Description" class=" alert-danger"></span>
                </div>
               @* <div class="form-group col-md-6">
                    <label asp-for="CreatorId">ID người tạo</label>
                    <input type="text" class="form-control mb-3" asp-for="CreatorId" placeholder="Nhập Id người tạo">
                    <span asp-validation-for="CreatorId" class=" alert-danger"></span>
                </div>*@
            </div>
            <div class="col-md-6">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Image" style="width: 100%;"></label>
                   @if (Model.Image != null)
                    {
                        <img id="profilePicture" style="width:350px;height:350px; object-fit:cover" src="data:image/*;base64,@(Convert.ToBase64String(Model.Image))">
                    }
                    else
                    {
                        <img id="profilePicture" style="width:350px;height:350px; object-fit:cover" src="">
                    }
                    <input type="file"
                           accept=".png,.jpg,.jpeg,.gif,.tif"
                           asp-for="Image"
                           class="form-control"
                           style="border:0px!important;padding: 0px;padding-top: 10px;padding-bottom: 30px;"
                           onchange="document.getElementById('profilePicture').src = window.URL.createObjectURL(this.files[0])" />
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>
            </div>

        </div>
        <button type="submit" class="btn btn-lg btn-primary p-2"><i class="bi bi-file-plus-fill"></i>Thêm Blog</button>
        <a asp-controller="Admin" asp-action="Index" class="btn btn-lg btn-warning p-2">Trở lại</a>
    </form>
</div>


@*//for front end validations*@

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
