@model Category

<div class="container shadow p-5">
    <div class="row pb-2">
        <h2>Xóa khoa khám</h2>
    </div>

    <form method="post" asp-action="DeleteEmp">
        <input asp-for="Id" hidden />
        <div asp-validation-summary="All"></div>

        <div class="form-row">
            @* <div class="form-group col-md-6">
            <label asp-for="c_id">Id</label>
            <input type="text" class="form-control mb-3" asp-for="c_id" placeholder="Id">
            <span asp-validation-for="c_id" class=" alert-danger"></span>
            </div>*@
            <div class="form-group col-md-6">
                <label asp-for="Creator">Id người tạo</label>
                <input type="text" class="form-control mb-3" asp-for="Creator" placeholder="Id người tạo" readonly>
                <span asp-validation-for="Creator" class=" alert-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Title">Khoa khám</label>
                <input type="text" class="form-control mb-3" asp-for="Title" placeholder="Title">
                <span asp-validation-for="Title" class=" alert-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Content">Thông tin chi tiết</label>
                <input type="text" class="form-control mb-3" asp-for="Content" placeholder="Content">
                <span asp-validation-for="Content" class=" alert-danger"></span>
            </div>
        </div>
        <button type="submit" class="btn btn-lg btn-danger p-2"><i class="bi bi-trash-fill"></i>Xóa</button>
        <a asp-controller="Category" asp-action="Index" class="btn btn-lg btn-warning p-2">Trở lại</a>
    </form>

</div>


@*//for front end validations*@

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}